{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}
